h2{
    color:blue;
}
body{
    color:brown;
    
    background-image: url("https://images.pexels.com/photos/534164/pexels-photo-534164.jpeg?cs=srgb&dl=pexels-eberhardgross-534164.jpg&fm=jpg");
}
